<div class="container mt-5">
  <h2 class="mb-4 text-center">Lista de Funcionários</h2>
    <div class="table-responsive">  <!-- Torna a tabela rolável em telas pequenas -->
      <table class="table table-striped table-hover">
        <thead class="table-dark">
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Função</th>
            <th>Data de Admissão</th>
            <th>Salário</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let funcionario of funcionarios">
            <td>{{ funcionario.id }}</td>
            <td>{{ funcionario.nome }}</td>
            <td>{{ funcionario.funcao }}</td>
            <td>{{ funcionario.dataAdmissao | date:'dd/MM/yyyy' }}</td> <!-- Formatação da data -->
            <td>{{ funcionario.salario | currency:'BRL' }}</td>
            <td>
              <button class="btn btn-danger btn-sm me-2" (click)="deletarFuncionario(funcionario.id)">Deletar</button>
              <button class="btn btn-primary btn-sm" [routerLink]="['/funcionario/edit', funcionario.id]">Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button class="btn btn-success mt-3" [routerLink]="['/funcionario/new']">Adicionar Novo Funcionário</button>
  </div>
  
  